<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Hey guys, my name is Thant Nay Lin. This simple app uses data from mapbox.com and darksy.net!</p>
            <img class="potrait" src="/img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>